@model Net6MVCTemplate.API.Models.IndexModel

<h1>Hi this is a template</h1>
<p>Paragraph</p>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        init();
    }, false);
</script>