@model Net6MVCTemplate.API.Models.IndexModel

<h1>Hi this is a template</h1>
<p>Paragraph</p>

<div class="row">
<div class="col"><div id="clock"></div></div>
<div class="col"><div id="multiplication-table"></div></div>
</div>

